.DS_Store
venv/
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.log
.env
.python-version
.idea/
tmp/
docker-compose.override.yml
*.sqlite3

dump.rdb
*.bak

node_modules/
dist/
build/

.coverage
coverage.xml
*.pytest_cache/

ollama/
langflow-data/
redis_data/

data/
