services:
  langflow-app:
    image: langflowai/langflow:1.6.5
    container_name: langflow-app
    user: "0:0"
    ports:
      - "7860:7860"
    environment:
      - LANGFLOW_AUTH_DISABLED=${LANGFLOW_AUTH_DISABLED}
      - LANGFLOW_BACKEND_ONLY=${LANGFLOW_BACKEND_ONLY}
      - LANGFLOW_SKIP_AUTH_AUTO_LOGIN=${LANGFLOW_SKIP_AUTH_AUTO_LOGIN}
    volumes:
      - langflow-data:/data
    networks:
      - langflow-network

networks:
  langflow-network:
    name: langflow-network
    driver: bridge

volumes:
  langflow-data: {}
